.goxc.local.json
.DS_Store
builds
doit
.vscode
project.json
.cover
dist
public
docs/content

_vendor-*

/out

# Build artifacts
Dockerfile-e

# Snapcraft
parts/
prime/
stage/
doctl_v*.snap
snap/.snapcraft/
