name: snapcraft-candidate
# Builds and publishes the package to the candidate channel on merge to main.

on:
  push:
    branches: [main]

jobs:
  build-and-publish:
    name: 'Snapcraft: Candidate Release'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          # fetch-depth: 0 fetches all history for all branches and tags
          fetch-depth: 0

      - name: Build snap
        uses: snapcore/action-build@v1
        id: build

      - name: Publish snap
        uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_TOKEN }}
        with:
          snap: ${{ steps.build.outputs.snap }}
          release: candidate
